@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
            @Html.ActionLink("Home", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Users", "Users", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Media", "Media", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Events", "Events", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", @class = "list-group-item list-group-item-action bg-light" })
        </div>
    </div>

    <!-- Page Content -->
    @*<div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <h1 class="mt-4">Simple Sidebar</h1>
                <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
            </div>
        </div>

          </div>*@
    <div id="page-content-wrapper">

        <nav class="navbar fixed-top navbar-expand navbar-light justify-content-between" id="mainNav">
            <button class="navbar-toggler" id="menu-toggle" style="display:block; width:80px;">
                menu<i class="fa fa-bars"></i>
            </button>
            <div class="container navbar-inner justify-content-end">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                   {
                    @Html.AntiForgeryToken()
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user" aria-hidden="true"></i> @User.Identity.GetUserName() 
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#eventModal" onclick="editProfile()" href="#">Edit profile</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#passModal" onclick="passChange()" href="#">Change password</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>Log off</a>
                            </li>
                        </ul>
                }
            </div>
        </nav>

        <div class="container-fluid">
            @RenderBody()
        </div>

        <div id="alertPlaceholder" class="fixed-bottom"></div>


    </div>
 </div>




@section scripts{
<script type="text/javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    $(document).on('hide.bs.modal', '#profileModal', function () {
        $('#dialogPlaceholder').html("");
    });

    $(document).on('hide.bs.modal', '#passModal', function () {
        $('#dialogPlaceholder').html("");
    });

    function editProfile() {
        $('#loader').removeClass("d-none");
        $.ajax({
            type: "GET",
            url: '/Manage/EditAccount',
            contentType: 'application/html',
            success: function (content) {
                $('#loader').addClass("d-none");
                $('#dialogPlaceholder').html(content);
                $('#profileModal').modal('show');
            },
            error: function (e) { }
        });
    }


    function passChange() {
        $('#loader').removeClass("d-none");
        $.ajax({
            type: "GET",
            url: '/Manage/ChangePassword',
            contentType: 'application/html',
            success: function (content) {
                $('#loader').addClass("d-none");
                $('#dialogPlaceholder').html(content);
                $('#passModal').modal('show');
            },
            error: function (e) { }
        });
    }

    function profileSuccess(result) {
        $('#profileModal').modal('hide');
        if (result.message) {
            $("#alertPlaceholder").append("<div class='alert alert-success alert-dismissible mb-0'><button type='button' class='close' data-dismiss='alert'>&times;</button><strong>Profile was modified successfully!</strong> " + result.message + "</div>");
        } else {
            $("#dialogPlaceholder").html(result);
            $('#profileModal').modal('show');
            rewireValidation();
        }
    }

    function passSuccess(result) {
        $('#passModal').modal('hide');
        if (result.message) {
            $("#alertPlaceholder").append("<div class='alert alert-success alert-dismissible mb-0'><button type='button' class='close' data-dismiss='alert'>&times;</button><strong>Action succeeded!</strong> " + result.message + "</div>");
        }
        else {
            $("#dialogPlaceholder").html(result);
            $('#passModal').modal('show');
            rewireValidation();
        } 
    }


    function rewireValidation() {
        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');
    }
    
</script>
    @RenderSection("scripts", required: false)
}
